
.msSelector
{
    width:500px;
}

.script-button
{
    float: left;
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    padding: 7px;
    text-align:left;
    cursor: pointer;
    border-radius: 4px;
}
.script-button-title
{
    font-size:16px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}

.zone
{
    float: left;
    width: 160px;
    /*height: 130px;*/
    margin: 10px;
    /*padding: 5px;*/
    cursor: pointer;
    border-radius: 4px;
}
/*
    phones, < 768px
    tablets, 768px +
    desktops, 992px +
    large desktops, 1200px +
*/
@media (max-width: 800px) {
	.zone {
		width: 210px;
	}
}

.zone-name
{
    float: left;
    margin: 0;
    padding: 65px 5px 0 5px;
    font-size: 1.1em;
    overflow: hidden;
    font-weight: normal;
    max-width: 150px;
    text-transform: uppercase;
}

.list-holder .k-listview:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.list-holder .k-listview
{
    padding: 0;
    min-width: 690px;
    min-height: 360px;
}