
.msSelector
{
    width:500px;
}

.zone
{
    float: left;
    width: 160px;
    height: 130px;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
}
/*
    phones, < 768px
    tablets, 768px +
    desktops, 992px +
    large desktops, 1200px +
*/
@media (max-width: 800px) {
	.zone {
		width: 210px;
	}
}

.zone h3
{
    float: left;
    margin: 0;
    padding: 10px 0 0 10px;
    font-size: 1.1em;
    overflow: hidden;
    font-weight: normal;
    max-width: 100px;
    text-transform: uppercase;
}

.list-holder .k-listview:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.list-holder .k-listview
{
    padding: 0;
    min-width: 690px;
    min-height: 360px;
}