
.ddlSensorSelector
{
    width:250px;
}

.valueText
{
    font-size:22px;
}

.k-grid .k-dirty
{
  display:none;
}

.msSelector
{
    width:500px;
}

.form-control.k-widget
{
    padding: 0;
    width: 100%;
}