
@model IEnumerable<AppSectionItem>
@{
    ViewData["Title"] = "Applications";
}

<h4>@ViewData["Message"]</h4>

@foreach (var item in Model)
{
    <p>
        @Html.ActionLink(item.Name, "SectionItem", "Home", item)<br />
        <small>@item.Description</small><br />
    </p>
}
