@{
    ViewData["Title"] = "Contact";
}

<h3>@ViewData["Title"]</h3>
@*<h4>@ViewData["Message"]</h4>*@

<address>
    Konstantin Kolesnik<br/>
    Dnipro, UA, 49040<br />
    <abbr title="Phone">P:</abbr>
    +380 (97) 5177137
</address>

<address>
    <strong>Support:</strong> <a href="mailto:gothicmaestro@live.com">gothicmaestro@live.com</a><br />
</address>
