
@using SmartHub.Dashboard.Common;
@model AppSectionItem
@{
    ViewData["Title"] = Model.Name;

    var data = await Utils.GETRequest(ViewBag.ServerUrl + Model.Url);
    var html = Utils.DtoDeserialize<string>(data);
    html = html.Replace("@ViewBag.ServerUrl", ViewBag.ServerUrl);
}

<div>@Html.Raw(html)</div>




@*<div>@{Html.RenderPartial("PartialViews/pvWemos");}</div>*@
