@using SmartHub.Dashboard.Common;
@model AppSectionItem
@{
    ViewData["Title"] = Model.Name;

    var data = await Utils.GETRequest(ViewBag.ServerUrl + Model.Url);
    var html = Utils.DtoDeserialize<string>(data);
}

<h4>@ViewData["Message"]</h4>

@Html.Raw(html)