@model IEnumerable<AppSectionItem>
@{
    ViewData["Title"] = "System";
}

@*<div class="row">
        <input id="hidServerUrl" type="hidden" value="@ViewBag.ServerUrl" />
    </div>*@

<h4>@ViewData["Message"]</h4>

<div>
    @*@Html.Raw(ViewBag.Text)*@
</div>


<div class="row">
    <div class="col-md-3">
        @foreach (var item in Model)
    {
        <h5>@Html.ActionLink(item.Name, "SectionItem", "Home", item)</h5>
        <h6>@item.Description</h6>
    }
    </div>
</div>

@section scripts
    {
    <script src="~/js/Views/SystemView.js" asp-append-version="true"></script>
}
